# OpenFisca-UK

This book contains an introduction to using OpenFisca-UK to model UK taxes and benefits.

## Short demo

Calculating, for example, the average National Insurance liability by region can be done with the following code:

In [46]:
from openfisca_uk import PopulationSim
from openfisca_uk.variables.household.attributes import Region
import pandas as pd
import numpy as np
from rdbl import gbp

sim = PopulationSim()
df = pd.DataFrame()
df["Region"] = sim.calc("region", period="2020").decode_to_str()

df["Population"] = (
    sim.calc("people_in_household") 
    * sim.calc("household_weight")
)
df["NI"] = (
    sim.calc("NI", map_to="household", period="2020") 
    * sim.calc("household_weight")
)

df = df.groupby("Region").sum()

df["NI per capita"] = df["NI"] / df["Population"]
df["Population"] = df["Population"].apply(gbp)
df["NI"] = df["NI"].apply(gbp)
df["NI per capita"] = df["NI per capita"].apply(gbp)
df

                 Population      NI NI per capita
Region
EAST_MIDLANDS         £4.7m  £3.9bn          £830
EAST_OF_ENGLAND       £6.1m  £5.9bn          £960
LONDON                £8.9m   £11bn         £1.2k
NORTHERN_IRELAND      £1.9m  £1.3bn          £700
NORTH_EAST            £2.6m  £1.9bn          £710
NORTH_WEST            £7.2m  £5.8bn          £810
SCOTLAND              £5.4m  £4.8bn          £890
SOUTH_EAST              £9m   £10bn         £1.1k
SOUTH_WEST            £5.5m  £4.5bn          £820
WALES                 £3.1m  £2.3bn          £750
WEST_MIDLANDS         £5.7m  £4.4bn          £760
YORKSHIRE             £5.4m    £4bn          £750