# OpenFisca-UK

This book contains an introduction to using OpenFisca-UK to model UK taxes and benefits. It is currently a work in progress and may be added to.

## Contents

This book contains two main pages:
- Populations: demonstrating country-wide simulations using survey microdata.
- Individuals: demonstrating calculations and projections for hypothetical manually-defined people and groups.

## Short demo

Calculating, for example, the average (employee-side) National Insurance liability by region can be done with the following code:

In [8]:
from openfisca_uk import Microsimulation
import pandas as pd

sim = Microsimulation(mode="frs", year=2018)

df = sim.df(["national_insurance", "income_tax"])
df.groupby("region")

       weight  national_insurance    income_tax            region
0      1329.0         2495.999023  15212.921875        SOUTH_EAST
1      1137.0          154.950012      0.000000        NORTH_WEST
2      1137.0            0.000000      0.000000        NORTH_WEST
3      1137.0            0.000000      0.000000        NORTH_WEST
4      1183.0            0.000000      0.000000         YORKSHIRE
...       ...                 ...           ...               ...
43082   524.0            0.000000      0.000000  NORTHERN_IRELAND
43083   524.0            0.000000      0.000000  NORTHERN_IRELAND
43084  1379.0            0.000000   5807.770996        SOUTH_EAST
43085   567.0            0.000000      0.000000             WALES
43086   567.0            0.000000      0.000000             WALES

[43087 rows x 4 columns]